

.home-body {
  text-align: center;
  color: white;
}

.home-title {
  font-size: 2em; 
  color: black;
  margin-bottom: 20px; 
  
}

.home-body-images {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 15rem;
}

/* .home-body-images img {
  width: 50%; 
  height: 300px; 
  object-fit: cover; 
}

.home-body-images img:last-child {
  transform: scaleX(-1); 
} */

@media (max-width: 1200px) {
  .home-title {
    font-size: 1.75em; 
  }
}

@media (max-width: 768px) {
  .home-title {
    font-size: 1.5em; 
  }
  .home-body-images {
    flex-direction: column; 
  }
  .home-body-images img {
    width: 80%; 
    margin-bottom: 10px; 
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 1.25em; 
  }
}
