/* Footer.css */

/* Reset margin and padding for the body to prevent any unexpected space */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the html and body are at least the height of the viewport */
}

/* Flexbox layout for the entire page content */
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content style, it should grow and take necessary space, pushing the footer down */
.content {
  flex: 1;
  padding: 20px; /* Add padding as needed */
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box; /* This ensures padding is included in the height calculation */
}

.footer > div,
.footer .social-media {
  margin: 10px;
}

.social-media {
  font-size: 24px;
}

.social-media a {
  text-decoration: none; /* This removes the underline */
  color: white;
  margin: 0 10px;
}

.social-media a:hover {
  color: #FF0000;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-around;
  }
}
