
.header-container {
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #005A9C;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.top-bar img {
  height: 40px;
}


.search-container {
  position: static;
  display: block; 
}

.search-container input[type="text"],
.search-container button {
  padding: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.search-container button {
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.search-container button:hover {
  background-color: #ddd;
}


.navigation {
  background-color: #013A6B;
  overflow: hidden;
  display: none; 
}

.navigation a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  display: block; 
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}


.nav-toggle {
  background-color: #013A9C;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: none; 
}


.translate-button {
  background-color: #f1f1f1;
  color: #005A9C;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block; 
}

.translate-button:hover {
  background-color: #ddd;
}


@media (max-width: 767px) {
  .nav-toggle {
    display: block; 
  }
  
  
  .top-bar {
    justify-content: flex-start; 
    padding: 10px; 
  }

  .search-container {
    width: calc(100% - 20px); 
    margin: 10px; 
    box-sizing: border-box; 
  }

  .search-container input[type="text"],
  .search-container button {
    width: 100%; 
  }

  .navigation {
    display: none; 
    padding-top: 10px; 
  }
  
  .navigation.show {
    display: block; 
  }
}

@media (min-width: 768px) {
  
  .search-container {
    position: absolute; 
    right: 120px; 
    top: 10px;
  }

  .translate-button {
    position: absolute;
    right: 20px; 
    top: 10px;
  }

  .navigation {
    display: flex; 
    justify-content: flex-start; 
  }

  .navigation a {
    display: inline-block; 
  }
  
  .nav-toggle {
    display: none; 
  }
}
